{% extends "master.html" %}

{% block the_body %}

    <div class="card mx-auto text-justify-content">
        <div class="card-body">
            <h5 class="card-title">Eploratory Data Analysis of Data Capture From February 29, 2020 Up To Date.</h5>
             <h6 class="card-title">Note: Data is updated on daily basis every 12:00 Midnight.</h6>
            <p class="card-text">
                This feature service contains the up to date Covid-19 Daily Statistics as well as the Profile of Covid-19 Daily Statistics for Ireland, as reported by the Health Protection Surveillance Centre.
                The Covid-19 Daily Statistics are updated once a week, each Wednesday, which includes data for the full time series. Data on deaths is updated once a week, each Wednesday, which includes data for the full time series.
                The further breakdown of these counts (age, gender, transmission, etc.) is part of a Daily Statistics Profile of Covid-19, to help identify patterns and trends.
            </p>
        </div>   
    </div>



    <div class="card mx-auto text-center">
        <div class="card-body">
            <h5 class="card-title">Visualizations</h5>
            <p class="card-text">
                <label for="plots">Choose a Visualization:</label>
               <select class="form-control" name="plot" id="plot" hx-post="/displayvisual" hx-target="#plots" hx-indicator=".htmx-indicator">
                    {% for option in options %}
                        <option value="{{ option.value }}">{{ option.label }}</option>
                    {% endfor %}
                </select>
            </p>

            <hr />

            <div id="plots">
                <h2>Visualization Here!!!</h2>
                
            </div>
        </div>   
    </div>


{% endblock %}